aiohttp-3.6.2
altgraph
async-timeout
attrs
beautifulsoup4
bs4
cachetools
certifi
cffi
chardet
click
discord.py-1.3.4
future
gevent
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
greenlet
gspread
httplib2
idna
importlib-metadata
Markdown
mdown
mkdir
MouseInfo
multidict
oauth2client
oauthlib
orderdict
pefile
Pillow
pip
protobuf
public
pyasn1
pyasn1-modules
PyAutoGUI
pycparser
PyGetWindow
pyinstaller
pyinstaller-hooks-contrib
PyMsgBox
pyperclip
PyQt5
PyQt5-sip
PyRect
PyScreeze
PyTweening
pytz
pywin32-ctypes
readme-md
requests
requests-oauthlib
rsa
setupcfg
setuptools
six
soupsieve
uritemplate
urllib3
values
websocket
websockets
wheel
write
yarl
zipp
zope.event
zope.interface
